* {
  box-sizing: border-box;
}

/* TYPOGRAPHY STYLILNG START */
h2,
h3 {
  margin: 0;
  line-height: 1.15;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.65rem;
}

@media (min-width: 768px) {
  body {
    font-size: 1.15rem;
  }
  h2 {
    font-size: 2.25rem;
  }
  h3 {
    font-size: 1.75rem;
  }
}

/* GENERAL STYLING START */
body {
  min-height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.55;
  display: grid;
  grid-template-rows: auto auto 1fr;
}

.container {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

.flex {
  display: flex;
}

.btn {
  cursor: pointer;
  outline: none;
  margin-top: 20px;
  border: none;

  font-family: inherit;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.8em 2em;
  border-radius: 0.5em;
  color: white;
  text-transform: uppercase;
  background-color: crimson;

  transition: 350ms ease-out;
}

.btn:hover,
.btn:focus {
  box-shadow: 0 5px 1rem rgba(51, 51, 51, 0.555);
  transform: translateY(-0.5rem);
}

/* NAV STRLING START */
.nav {
  background-color: #333;
}

.nav-top {
  background-color: lightslategray;
}

.nav .flex {
  align-items: center;
  justify-content: space-between;
}

/* top menu navigation styles */
.nav-top .flex {
  min-height: 50px;
  padding: 0 2rem;
}

.logo {
  max-width: 110px;
  cursor: pointer;
}

.nav-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav-list a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: inline-block;
  text-transform: uppercase;
}

.nav-toggle {
  display: none;
}

/* top menu Search Bar Styling */
.search-box {
  min-width: 35px;
  min-height: 35px;
  background-color: #df6589ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

#search-bar {
  font-size: 1.05rem;
  color: rgba(255, 255, 255, 0.733);
  outline: none;
  padding: 0;
  border: none;
  border-bottom: 1px solid gray;
  background-color: transparent;
  width: 0;
  max-width: 300px;
  margin-bottom: -5px;
  transition: width 0.3s ease-in-out;
}

.search-box:hover #search-bar,
.search-box:focus-within #search-bar {
  width: 40vw;
}

.search-icon {
  font-size: inherit;
  color: white;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.search-box:hover,
.search-box:focus-within {
  border-radius: 1em;
  padding: 0 1rem;
}

/* top menu navigation social icon styles */
.top-social i {
  color: white;
  cursor: pointer;
  margin: 0px 3px;
  font-size: 19px;
}

/* MAIN CONTENT START */
.main {
  background-color: cornsilk;
  padding-bottom: 2rem;
}

/* form stylilng */
.form-title {
  text-align: center;
  padding: 1em 0;
}

.form {
  display: flex;
  flex-direction: column;
}

#noteTitle,
#textArea {
  font-size: inherit;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

#textArea {
  resize: vertical;
  min-height: 10ch;
}

/* Notes Section Styling */

.notes {
  padding: 1.5rem 0.5rem;
  background-color: rgb(115, 185, 185);
  margin-top: 1.5rem;
  border: 1.3px solid grey;
  border-radius: 0.3em;

  transition: all 350ms linear;
}

.note {
  text-align: center;
  background: #3f2b96;
  border: 1.9px solid grey;
  border-radius: 6px;
  padding: 0.5em;
  transition: all 500ms linear;
}

.note-body {
  font-family: "Open Sans";
  background-color: white;
  border-radius: 0.3em;
  line-height: 1.25;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.726) inset;
  padding: 0.5em 0;
}

.note-body p {
  padding: 0.5em;
  word-wrap: break-word;
  margin: 0;
}

.note-title {
  text-transform: capitalize;
  margin: 0.4em 0;
  color: white;
}

.btn-container {
  margin: 1em 0 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-note,
.edit-note {
  background-color: transparent;
  border: none;
  outline: none;
}

.delete-note i,
.edit-note i {
  font-size: 1.35rem;
  cursor: pointer;
}

.edit-note i {
  color: #ffa07a;
}
.delete-note i {
  color: #fd5c63;
}

/* MESSASGE STYLING */
.message {
  text-transform: capitalize;
  border-radius: 0.5em;
  color: white;
  background-color: var(--background);
  padding: 1.5rem;
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  transform: translateX(-2rem);
  transition: 0.3s ease-in;
  opacity: 0.5;
  overflow: hidden;
  visibility: hidden;
}

.message-body {
  margin: 0.2em;
}

.message::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--background);
  filter: brightness(50%);
}

.error {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  --background: #e52b50;
}

.success {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  --background: rgb(33, 170, 33);
}

.close-message {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.35s ease;
}

.close-message:hover {
  transform: rotate(45deg);
}

@media (min-width: 768px) {
  .notes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: center;
  }
}

@media (min-width: 990px) {
  .notes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 565px) {
  .top-social {
    display: none;
  }

  .nav-top .flex {
    padding: 0;
  }
  .search-box {
    width: 100%;
    border-radius: 1em;
  }
  #search-bar {
    width: auto;
    min-width: 80%;
  }
  .search-box:hover #search-bar,
  .search-box:focus-within #search-bar {
    width: auto;
  }
}

@media screen and (max-width: 830px) {
  .nav-toggle {
    display: block;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
    transition: 0.3s ease-out;
  }

  .nav-close {
    display: none;
  }

  .nav-main .nav-list {
    position: fixed;
    background-color: teal;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: left 0.3s ease-in;
  }
  .nav-visible .nav-list {
    left: 0;
  }

  .nav-visible .nav-toggle {
    position: fixed;
    z-index: 10000;
    right: 2.5rem;
    top: 1.2rem;
  }

  .nav-visible .nav-open {
    display: none;
  }

  .nav-visible .nav-close {
    display: block;
    transition: transform 0.35s ease-out;
  }

  .nav-close:hover,
  .nav-close:focus {
    transform: rotate(45deg);
  }
  .nav-list a {
    font-weight: 600;
    font-size: 2.5rem;
  }
}
